.store {
  display: block;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    width: 100%;
    padding-top: 120px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;

    color: #E47537;
  }

  &__category-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 28px;

    color: green;
  }



  &__category-button {
    color: orange;
  }

}